﻿<div class="mb-5">
    <h1>Create Cinema</h1>
</div>

<form method="post" action="/admin/cinema/create" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="basic-form-name">Name</label>
        <input class="form-control" id="basic-form-name" name="name" type="text" placeholder="Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input class="form-control" name="img" type="file" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>