﻿@using movie.Areas.Admin.Models
@model Cinema

<div class="mb-5">
    <h1>Edit Cinema</h1>
</div>

<form method="post" action="/Admin/Cinema/Edit" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="mb-3">
        <label class="form-label" for="basic-form-name">Name</label>
        <input class="form-control" id="basic-form-name" name="name" type="text" placeholder="Name" value="@Model.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input class="form-control" name="img" type="file" />
        @if (!string.IsNullOrEmpty(Model.Img))
        {
            <div class="mt-3">
                <p>Current image:</p>
                <img src="~/uploads/@Model.Img" alt="Current Image" style="max-width: 200px; height: auto;" />
            </div>
        }
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>