﻿@using movie.Areas.Admin.Models
@model Category

<div class="mb-5">
    <h1>Edit Actor</h1>
</div>

<form method="post" action="/Admin/Category/Edit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="mb-3">
        <label class="form-label" for="basic-form-name">Name</label>
        <input class="form-control" id="basic-form-name" name="Name" type="text" placeholder="Name" value="@Model.Name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input class="form-control" id="basic-form-name" name="Description" type="text" placeholder="Description" value="@Model.Description" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</form>