@model movie.Areas.Admin.Models.Movie

<h2>Add New Movie</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" id="Name" name="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Des">Description</label>
        <textarea asp-for="Des" id="Des" name="Des" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input asp-for="Price" id="Price" name="Price" type="number" class="form-control" />
    </div>

    <div class="form-group form-check">
        <input asp-for="Status" type="checkbox" class="form-check-input" />
        <label asp-for="Status" class="form-check-label"></label>
    </div>


    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select asp-for="CategoryId" id="CategoryId" name="CategoryId" class="form-control">
            <option value="">-- Select Category --</option>
            @foreach (var cat in ViewBag.Categories)
            {
                <option value="@cat.Id">@cat.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CinemaId">Cinema</label>
        <select asp-for="CinemaId" id="CinemaId" name="CinemaId" class="form-control">
            <option value="">-- Select Cinema --</option>
            @foreach (var cin in ViewBag.Cinemas)
            {
                <option value="@cin.Id">@cin.Name</option>
            }
        </select>
        <span asp-validation-for="CinemaId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="MainImgFile">Main Image</label>
        <input type="file" id="MainImgFile" name="MainImgFile" class="form-control" />
    </div>

    <div class="form-group">
        <label for="SubImgFiles">Sub Images</label>
        <input type="file" id="SubImgFiles" name="SubImgFiles" multiple class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
